
.vs/*
ProductionManagement.Web/ClientApp/.angular/cache/*
*.dll
*.pdb
*.cache
ProductionManagement.Model/obj/*
ProductionManagement.Model/bin/Debug/net6.0/ProductionManagement.Model.deps.json
ProductionManagement.DbMigrator/obj/*