
.vs/*
*.dll
*.pdb
*.cache
ProductionManagement.Web/ClientApp/*
ProductionManagement.Model/obj/*
ProductionManagement.Model/bin/*
ProductionManagement.DbMigrator/obj/*
ProductionManagement.DbMigrator/bin/*
