<div class="row container-default">
  <div class="col-md-12">
    <div class="card card-simple animate__animated animate__fadeIn shadow-default">
      <div class="card-header">
        <span>Zbiorniki</span>
        <div class="float-end">
          <button type="button" class="btn btn-primary btn-sm" (click)="addNewTank()"><i class="fa fa-plus" aria-hidden="true"></i> Dodaj</button>
        </div>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-md-4">
            <div class="widget-body">
              <ng-select id="selectStatus" [(ngModel)]="statusFilter" [multiple]="false" [clearable]="false" (change)="refresh($event)">
                <ng-option [value]="true">Aktywne</ng-option>
                <ng-option [value]="false">Nieaktywne</ng-option>
              </ng-select>
            </div>
          </div>
        </div>
      </div>
      <div class="card-body">
        <table class="table table-default table-hover table-sm">
          <thead>
            <tr>
              <th class="th-priority">Nazwa części</th>
              <th >Liczba dni</th>
              <th >Wyspecjalizowane linie</th>
              <th ></th>
            </tr>
          </thead>
          <tbody>
            <ng-container *ngFor="let item of tanks">
              <tr (click)="showDetails(item)" class="pointer">
                <td>{{ item.name }}</td>
                <td>{{ item.productionDays }}</td>
                <td>
                  <div *ngIf="item.productionLines && item.productionLines.length > 0; else elseBlock">Tak</div>
                  <ng-template #elseBlock><div>Nie</div></ng-template>
                </td>
                <td>
                  <div class="float-end">
                    <button *ngIf="!statusFilter" type="button" class="btn btn-success btn-sm me-2" (click)="$event.stopPropagation();activeTank(item)"><i class="fa-solid fa-arrows-rotate"></i> Aktywuj</button>
                    <button *ngIf="statusFilter" type="button" class="btn btn-danger btn-sm me-2" (click)="$event.stopPropagation();deactiveTank(item)"><i class="fa fa-trash" aria-hidden="true"></i> Deaktywuj</button>
                    <button type="button" class="btn btn-light btn-sm" (click)="$event.stopPropagation();editTank(item)"><i class="fa fa-edit" aria-hidden="true"></i> Edytuj</button>
                  </div>
                </td>
              </tr>
              <tr *ngIf="item.showDetails">
                <td colspan="4" >
                  <div class="row ms-3">
                    <div class="col-6">
                      <div class="row ms-3">
                        <div class="col-3 fw-bold">Ilość</div>
                        <div class="col-9 fw-bold">Nazwa części</div>
                      </div>
                      <div *ngFor="let part of item.parts">
                        <div class="row ms-3">
                          <div class="col-3">{{ part.partsNumber }}</div>
                          <div class="col-9">{{ part.partsName }}</div>
                        </div>
                      </div>
                    </div>
                    <div class="col-6" *ngIf="item.productionLines && item.productionLines.length > 0">
                      <div class="row ms-3">
                        <div class="col-12 fw-bold">Wyspecjalizowane gniazda</div>
                      </div>
                      <div *ngFor="let part of item.productionLines">
                        <div class="row ms-3">
                          <div class="col-12">{{ part.productionLineName }}</div>
                        </div>
                      </div>
                    </div>
                  </div>
                </td>
              </tr>
            </ng-container>
          </tbody>
        </table>
        <!-- <div class="row mt-3">
          <div class="col-md-12">
            paginacja
          </div>
        </div> -->
      </div>
    </div>
  </div>
</div>
