<div class="row container-default">
  <div class="col-md-9 col-lg-10">
    <div class="card card-simple animate__animated animate__fadeIn shadow-default">
      <div class="card-header">
        <span>Części</span>
        <div class="float-end">
          <button type="button" class="btn btn-primary btn-sm" (click)="addNewPart()"><i class="fa fa-plus" aria-hidden="true"></i> Dodaj</button>
        </div>
      </div>
      <div class="card-body">
        <table class="table table-default table-hover table-sm">
          <thead>
            <tr>
              <th class="th-priority">Nazwa części</th>
              <th >Opis</th>
            </tr>
          </thead>
          <tbody>
            <ng-container>
              <tr>
                <td>test</td>
                <td>test</td>
              </tr>
            </ng-container>
          </tbody>
        </table>
        <!-- <div class="row mt-3">
          <div class="col-md-12">
            paginacja
          </div>
        </div> -->
      </div>
    </div>
  </div>
</div>
