<div class="modal-header pb-0">
  <h4 class="modal-title pull-left">
    Zmiana właściwości {{productionDay.date | date : 'dd.MM.yyyy'}}
  </h4>
</div>
<div class="modal-body">
  <div class="row" *ngIf="!productionDay.dayOff && productionDay.ordersId != null" >
    <div class="col-md-12">
      <div class="widget widget-simple">
        <mat-radio-group aria-label="Select an option" [(ngModel)]="option">
          <mat-radio-button value="1">Wstaw dzień wolny z przesunięciem zleceń</mat-radio-button>
          <mat-radio-button value="2">Wstaw dzień wolny bez przesunięcia zleceń</mat-radio-button>
        </mat-radio-group>
      </div>
    </div>
  </div>

  <div class="row" *ngIf="!productionDay.dayOff && productionDay.ordersId == null" >
    <div class="col-md-12">
      <div class="widget widget-simple">
        <mat-radio-group aria-label="Select an option" [(ngModel)]="option">
          <mat-radio-button value="2">Wstaw dzień wolny</mat-radio-button>
        </mat-radio-group>
      </div>
    </div>
  </div>

  <div class="row" *ngIf="productionDay.dayOff" >
    <div class="col-md-12">
      <div class="widget widget-simple">
        <mat-radio-group aria-label="Select an option" [(ngModel)]="option">
          <mat-radio-button value="3">Wstaw dzień pracujący</mat-radio-button>
        </mat-radio-group>
      </div>
    </div>
  </div>

  <div class="row mt-3">
    <div class="col-md-12 text-center">
      <button class="btn btn-light btn-sm me-2" type="button" (click)="bsModalRef.hide()"><i class="fas fa-undo"></i> Anuluj</button>
      <button class="btn btn-primary btn-sm" type="submit" (click)="save()"><i class="fas fa-save"></i> Zapisz</button>
    </div>
  </div>
</div>
